version: "3.8"

services:
  spring-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: BuStudy
    ports:
      - "8080:8080"
    env_file:
      - .env
    restart: always
    environment:
      - TZ=Asia/Seoul
